body {
    font-family: 'Titillium Web', sans-serif;
}

textarea {
    min-height: 400px;
}

.message-read {
    background-color: #aaaaaa;
}

.message-row {
    border: 1px solid black;
    cursor: pointer;
    padding: 5px;
    width: 100%;
}

.message-row strong {
    padding-right: 8px;
}

.message-timestamp {
    color: #888888;
    float: right;
}


/*create floating post button*/

.floating-container {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    margin: 35px 25px;
    z-index: 2;
}

.floating-container:hover {
    height: 300px;
}

.floating-container:hover .floating-button {
    box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
    -webkit-transform: translatey(5px);
    transform: translatey(5px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.floating-container .floating-button {
    position: absolute;
    width: 65px;
    height: 65px;
    background: #00CFFF;
    bottom: 0;
    border-radius: 36% 64% 36% 64% / 67% 71% 29% 33%;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    line-height: 65px;
    text-align: center;
    font-size: 28px;
    z-index: 100;
    box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.floating-container .float-element {
    position: relative;
    display: block;
    border-radius: 36% 64% 36% 64% / 67% 71% 29% 33%;
    width: 50px;
    height: 50px;
    margin: 15px auto;
    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    z-index: 0;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
}

.floating-container .float-element .material-icons {
    vertical-align: middle;
    font-size: 24px;
}

/* Navigation menu */

.nav {
    max-height: 46px;
    align-items: center;
}

.nav p {
    margin: 0px;
    color: #046B99;
    font-size: small;
}

.nav a {
    max-height: 46px;
    padding: 10px;
}

/* Main Navigation menu */

.main-nav {
    background-color: #E3F5FA;
    margin: 1% 0% 0% 0%;
    padding: 0% 0% 0% 2%
}

.main-nav a {
    color: #1C304A;
    margin: 0px 10px;
}

.main-nav a:hover {

    border-radius: 30% 70% 59% 41% / 55% 35% 65% 45%;
    background-color: #B3EFF8;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.main-nav .nav-link[aria-current="page"] {
    border-radius: 30% 70% 59% 41% / 55% 35% 65% 45%;
    background-color: #B3EFF8;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width:1260px) {
    .main-nav .nav-right {
        margin-left: 64%;
    }
}

@media screen and (max-width:1259px) {
    .main-nav .nav-right {
        margin-left: 55%;
    }
}

@media screen and (max-width:1000px) {
    .main-nav .nav-right {
        margin-left: 50%;
    }
}

@media screen and (max-width:999px) {
    .main-nav .nav-right {
        margin: 0px;
    }
}

/*Sub Navigation Menu*/

.sub-nav {
    background-color: #B3EFF8;
    margin: 10px 0px;
    padding: 0px 10px;
}

.sub-nav a {
    margin: 0px 2px;
    color: #1C304A;
}

.sub-nav a:hover {
    margin: 5px, 0px;
    border-radius: 70% 30% 59% 41% / 62% 50% 50% 38%;
    background-color: #ffff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.sub-nav .nav-link[aria-current="page"] {
    border-radius: 70% 30% 59% 41% / 62% 50% 50% 38%;
    color: #046B99;
    background-color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.sub-nav button {
    color: #1C304A;
    border-color: #E3F5FA;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin: 0px 10px;
}

/*Logo*/

.logo img {
    max-width: 350px;
}

.logo {
    display: flex;
    align-content: center;
    justify-content: center;
}

.logo img:hover {
    max-width: 370px;
    opacity: .9;
}

/*Posts*/

.container {
    margin-top: 50px;
    padding: 30px;
    padding-bottom: 50px;
    background-color: rgba(243, 243, 243, .6);
    border-radius: 58% 42% 62% 38% / 31% 96% 4% 69%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
}

.card-text-description {
    max-width: 500px;
    max-height: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-title {
    max-width: 300px;
    max-height: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.card-block:nth-child(odd) {
    padding: 45px 85px 40px 100px;
    background-color: #E3F5FA;
    border-radius: 37% 63% 70% 30% / 44% 38% 62% 56%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.card-block:nth-child(even) {
    padding: 45px 40px 80px 100px;
    background-color: #ddedea;
    ;
    border-radius: 17% 83% 32% 68% / 58% 48% 52% 42%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* border-radius:35% 65% 84% 16% / 58% 48% 52% 42% */
}

.card-block {
    display: flex;
    justify-content: center;
    width: 850px;
    max-height: 300px;
    margin: 10px;
}

.card-block img {
    padding: 10px 10px 10px 10px;
    max-width: 300px;
    height: auto;

}

.card-body {
    margin-left: 20px;
    padding: 5px !important;
}

.card-body .alert-danger{
    max-width: 450px;
}


/*font*/

.heading-five {
    padding: 5px;
    color: #046B99;
    font-size: 14px;
    font-weight: 600;
}

.heading-two {
    font-size: 28px;
    font-weight: 600;
    color: #1C304A;
}

.paragraph-three {
    font-size: 20px;
    font-weight: 400;
    color: #333333;

}

.paragraph-four {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

.paragraph-five {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}