body {
    font-family: 'Titillium Web', sans-serif;
}


/*Index*/

.index .index-banner {
    border-radius: 60px;
    margin: 25px;
    padding: 25px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.index .index-banner .navbtn {
    margin: 15px;
    padding: 25px;
    justify-content: center;
}

.index .index-banner .navbtn .navbtn-title {
    margin: 0px 25px 0px 45px;
    padding: 25px;
}

.index .welcome-message {
    font-family: 'Patrick Hand', cursive;
    margin: 15px;
    padding: 15px;
    color: #1C304A;
}

/*Index Ilustrations*/
.index .mainbtn img {
    margin: 25px 25px 15px 25px;
    padding: 10px;
    max-width: 200px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*Index Share Illustrations*/
.index .mainbtn.mainbtn-share img.outline {
    border-radius: 25% 75% 29% 71% / 62% 41% 59% 38%;
    background: #E6EDFA;
    position:absolute;
}

.index .mainbtn.mainbtn-share img.outline:hover {
    opacity: 0;
}

.index .mainbtn.mainbtn-share img.filled {
    border-radius: 25% 75% 29% 71% / 62% 41% 59% 38%;
    background: #E6EDFA;
}

/*Index Engage Illustrations*/

.index .mainbtn.mainbtn-engage img.outline{
    border-radius: 69% 31% 67% 33% / 34% 58% 42% 66%;
    background: #E3F5FA;
    position:absolute;
}

.index .mainbtn.mainbtn-engage img.outline:hover {
    opacity: 0;
}

.index .mainbtn.mainbtn-engage img.filled {
    border-radius: 69% 31% 67% 33% / 34% 58% 42% 66%;
    background: #E3F5FA;
}

/*Index Discover Illustrations*/

.index .mainbtn.mainbtn-discover img.outline {
    border-radius: 43% 57% 35% 65% / 71% 63% 37% 29%;
    background: #DDEDEA;
    position:absolute;
}
.index .mainbtn.mainbtn-discover img.outline:hover {
    opacity: 0;
}

.index .mainbtn.mainbtn-discover img.filled {
    border-radius: 43% 57% 35% 65% / 71% 63% 37% 29%;
    background: #DDEDEA;
}

/*Index Quote*/

.index .quote {
    font-family: 'Poor Story', cursive;
    margin: 10px;
    padding: 20px;
    color: #046B99;
}

.index .quote span {
    font-size: 100px;
}

/*Compose Message*/

#compose-view {
    margin-left: auto;
    margin-right: auto;
}

#compose-view textarea {
    min-height: 150px;
    max-width: 500px;
}

#compose-view #compose-form {
    max-width: 500px;
    background-color: #E3F5FA;
    padding: 25px;
    border-radius: 25px;
}

#compose-view .form-group {
    max-width: 500px;
    font-size: 20px;
    color: #046B99;
    font-weight: 600;
}

#compose-view .btn {
    margin: 10px;
    font-size: large;
    background-color: #046B99;
    border-color: #046B99;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 45px;
}

#compose-view .btn:hover {
    background-color: #1C304A;
    border-color: #1C304A;
}

#my-posts-view {
    margin-top: -15px;
}

/*Inbox*/

.message-row {
    background-color: #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 25px;
    cursor: pointer;
    margin: 15px;
    padding: 15px;
    width: 100%;
}

.message-row.message-read {
    background-color: #fff;
}

.message-row strong {
    padding-right: 8px;
}

.message-timestamp {
    color: #888888;
    float: right;
}

/*Open Mail*/

.profile-content #message-view {
    border-radius: 67% 33% 66% 34% / 32% 49% 51% 68%;
    padding: 100px;
    background-color: #E3F5FA;
}

.profile-content #message-view button {
    background-color: #046B99;
    border-color: #046B99;
    color: #fff;
    border-radius: 45px;
}

.profile-content #message-view button:hover {
    background-color: #1C304A;
    border-color: #1C304A;
    color: #fff;
    border-radius: 45px;
}


/*create floating post button*/

.floating-container {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    margin: 35px 25px;
    z-index: 2;
}

.floating-container:hover {
    height: 300px;
}

.floating-container:hover .floating-button {
    box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
    -webkit-transform: translatey(5px);
    transform: translatey(5px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.floating-container .floating-button {
    position: absolute;
    width: 65px;
    height: 65px;
    background: #00CFFF;
    bottom: 0;
    border-radius: 36% 64% 36% 64% / 67% 71% 29% 33%;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    line-height: 65px;
    text-align: center;
    font-size: 28px;
    z-index: 100;
    box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.floating-container .float-element {
    position: relative;
    display: block;
    border-radius: 36% 64% 36% 64% / 67% 71% 29% 33%;
    width: 50px;
    height: 50px;
    margin: 15px auto;
    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    z-index: 0;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
}

.floating-container .float-element .material-icons {
    vertical-align: middle;
    font-size: 24px;
}


/* Main Navigation menu */

.nav.main-nav {
    max-height: 46px;
    align-items: center;
}

.nav.main-nav p {
    margin: 0px;
    color: #046B99;
    font-size: small;
}

.nav.main-nav a {
    font-weight: 600;
    max-height: 46px;
    padding: 10px;
}

.main-nav {
    background-color: #E3F5FA;
    margin: 1% 0% 0% 0%;
    padding: 0% 0% 0% 2%
}

.main-nav a {
    color: #1C304A;
    margin: 0px 10px;
}

.main-nav a:hover {

    border-radius: 30% 70% 59% 41% / 55% 35% 65% 45%;
    background-color: #B3EFF8;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.main-nav .nav-link[aria-current="page"] {
    border-radius: 30% 70% 59% 41% / 55% 35% 65% 45%;
    background-color: #B3EFF8;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width:1260px) {
    .main-nav .nav-right {
        margin-left: 64%;
    }
}

@media screen and (max-width:1259px) {
    .main-nav .nav-right {
        margin-left: 55%;
    }
}

@media screen and (max-width:1000px) {
    .main-nav .nav-right {
        margin-left: 50%;
    }
}

@media screen and (max-width:999px) {
    .main-nav .nav-right {
        margin: 0px;
    }
}

/*Sub Navigation Menu*/
.nav.sub-nav {
    max-height: 46px;
    align-items: center;
}

.nav.sub-nav p {
    margin: 0px;
    color: #046B99;
    font-size: small;
}

.nav.sub-nav a {
    font-weight: 600;
    max-height: 46px;
    padding: 10px;
}

.sub-nav {
    background-color: #B3EFF8;
    margin: 10px 0px;
    padding: 0px 10px;
}

.sub-nav a {
    margin: 0px 2px;
    color: #1C304A;
}

.sub-nav a:hover {
    margin: 5px, 0px;
    border-radius: 70% 30% 59% 41% / 62% 50% 50% 38%;
    background-color: #ffff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.sub-nav .nav-link[aria-current="page"] {
    border-radius: 70% 30% 59% 41% / 62% 50% 50% 38%;
    color: #046B99;
    background-color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.sub-nav button {
    font-weight: 600;
    background-color: #B3EFF8;
    color: #1C304A;
    border-color: #E3F5FA;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin: 0px 10px;
}

/*Logo*/

.logo img {
    max-width: 350px;
}

.logo {
    display: flex;
    align-content: center;
    justify-content: center;
}

.logo img:hover {
    max-width: 370px;
    opacity: .9;
}

/*Posts*/

.posts-view.container {
    margin-top: 50px;
    padding: 30px;
    padding-bottom: 50px;
    background-color: rgba(243, 243, 243, .6);
    border-radius: 58% 42% 62% 38% / 31% 96% 4% 69%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
}

.card-text-description {
    max-width: 500px;
    max-height: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-title {
    max-width: 300px;
    max-height: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.card-block:nth-child(odd) {
    padding: 55px 85px 50px 100px;
    background-color: #E3F5FA;
    border-radius: 37% 63% 70% 30% / 44% 38% 62% 56%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.card-block:nth-child(even) {
    padding: 45px 125px 80px 100px;
    background-color: #ddedea;
    border-radius: 17% 83% 32% 68% / 58% 48% 52% 42%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* border-radius:35% 65% 84% 16% / 58% 48% 52% 42% */
}

.card-block {
    display: flex;
    justify-content: center;
    width: 850px;
    max-height: 300px;
    margin: 10px;
}

.card-block img {
    padding: 10px 10px 10px 10px;
    max-width: 300px;
    height: auto;

}

.card-body {
    margin-left: 20px;
    padding: 5px !important;
}

.card-body .alert-danger {
    max-width: 400px;
}


/*expanded posts*/

.back-icon .material-symbols-outlined {
    color: #046B99;
    font-size: 35px;
}

.back-icon {
    padding: 10px;
    margin: 10px;
}

.expanded-post-view.container {
    border-radius: 125px;
    width: 900px;
    height: auto;
    background-color: #E3F5FA;
    padding: 60px;
    margin-top: 50px;
    justify-content: center;
}

.expanded-post-view .open-close-button input {
    background-color: #046B99;
    border-radius: 25px;
    border-color: #046B99;
}

.expanded-post-view .open-close-button input:hover {
    background-color: #1C304A;
    border-color: #1C304A;
}

.expanded-post-view .alert-danger {
    margin-top: 10px;
}

.expanded-post-view img {
    margin: 10px;
    border-radius: 25px;
}

.expanded-post-text-content {
    background-color: #fff;
    margin: 15px 20px;
    padding: 35px;
    border-radius: 40px;
}

.expanded-post-comments {
    background-color: #fff;
    margin: 15px 10px;
    padding: 35px;
    border-radius: 40px;
}

.expanded-post-comments input.form-control {
    background-color: #ebebeb;
    border-radius: 25px;
    border-color: #ebebeb;
    margin: 10px 10px 20px 0px;
    height: 50px;
}

.expanded-post-comments input.btn {
    background-color: #046B99;
    border-color: #046B99;
    color: #fff;
    border-radius: 45px;
}

.expanded-post-comments input.btn:hover {
    background-color: #1C304A;
    border-color: #1C304A;
    color: #fff;
    border-radius: 45px;
}

.expanded-post-comments .comments .list-group-item {
    border-radius: 25px;
    margin-bottom: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
}


/*create post form*/

.create-page {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


.create .form-group {
    margin: auto;
    max-width: 700px;
    background-color: #E3F5FA;
    padding: 25px;
}

.create label {
    font-size: 20px;
    color: #046B99;
    font-weight: 600;
}

.create .btn {
    width: 650px;
    height: 50px;
    margin: 25px;
    font-size: large;
    background-color: #046B99;
    border-color: #046B99;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 45px;
}

.create .btn:hover {
    background-color: #1C304A;
    border-color: #1C304A;
}

/*profile|messaging*/

.profile-nav {
    display: inline-block;
}

.profile-nav .material-symbols-outlined {
    color: #046B99;
    font-size: 35px;
}


.profile-nav a:hover {
    background-color: #B3EFF8;
    border-radius: 67% 33% 66% 34% / 32% 49% 51% 68%;
    padding-right: 10px;
}

.profile-nav a.active {
    background-color: #B3EFF8;
    border-radius: 67% 33% 66% 34% / 32% 49% 51% 68%;
    padding-right: 10px;
}

.profile-name {
    padding: 25px;
}

/*font*/

.heading-five {
    padding: 5px;
    color: #046B99;
    font-size: 14px;
    font-weight: 600;
}

.heading-two {
    font-size: 28px;
    font-weight: 600;
    color: #1C304A;
}

.heading-two-medium {
    font-size: 28px;
    font-weight: 600;
    color: #046B99;
}

.heading-three {
    font-size: 22px;
    font-weight: 600;
    color: #1C304A;
}

.heading-three-medium {
    font-size: 22px;
    font-weight: 600;
    color: #046B99;
}

.heading-four {
    font-size: 16px;
    font-weight: 600;
    color: #1C304A;
}

.heading-four-medium {
    font-size: 16px;
    font-weight: 600;
    color:#046B99;
}

.paragraph-three {
    font-size: 20px;
    font-weight: 400;
    color: #333333;

}

.paragraph-four {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

.paragraph-fourpointfive-dark {
    font-size: 18px;
    font-weight: 400;
    color: #1C304A;
}

.paragraph-five {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}