{% extends "mortalplanet/layout.html" %}
{% load static %}

{% block body %}

<div class="d-flex p-2 justify-content-center dicover-title">
    <h2 class="heading-two mb-3"> Recycling Guide For Seattle City</h2>
</div>

<div class="d-flex align-content-start justify-content-center flex-nowrap discover-container">

    <div class=" recycle-card m-3">
        <div>
            <img src="/media/RecycleGuide/stryofoamTakeout.png"></img>
        </div>
        <div class="card-content container p-3">
            <div class="row m-1 justify-content-start">
                <h3 class="heading-threeFive-dark">
                    Styrofoam Containers
                </h3>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp; Clean | Dry | No Stains
                </p>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined block">
                        block
                    </span>
                    &nbsp; Dirty | Stains | Glue
                </p>
            </div>
            <hr>
            <div class="row m-1 justify-content-end">
                <h4 class="heading-four-medium align-content-start">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    STYROCYCLE, KENT
                </h4>
            </div>
        </div>
    </div>
    <div class=" recycle-card  m-3">
        <div>
            <img src="/media/RecycleGuide/stryofoamBox.png"></img>
        </div>
        <div class="card-content container p-3">
            <div class="row m-1 justify-content-start">
                <h3 class="heading-threeFive-dark">
                    Styrofoam Pacaking Materials
                </h3>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp; Clean | Dry | No Tape | No Glue
                </p>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined block">
                        block
                    </span>
                    &nbsp; Dirty | Stains | Glue | Tape
                </p>
            </div>
            <hr>
            <div class="row m-1 justify-content-end">
                <h4 class="heading-four-medium align-content-start">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    STYROCYCLE, KENT
                </h4>
            </div>
        </div>
    </div>
    <div class=" recycle-card  m-3">
        <div>
            <img src="/media/RecycleGuide/FlexFoam.png"></img>
        </div>
        <div class="card-content container p-3">
            <div class="row m-1 justify-content-start">
                <h3 class="heading-threeFive-dark">
                    Flex Foam
                </h3>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp; Clean | Dry | No Print | No Tape
                </p>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined block">
                        block
                    </span>
                    &nbsp; Dirty | Stains | Print | Tape
                </p>
            </div>
            <hr>
            <div class="row m-1 justify-content-end">
                <h4 class="heading-four-medium align-content-start">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    STYROCYCLE, KENT
                </h4>
            </div>
        </div>
    </div>
    <div class=" recycle-card m-3">
        <div>
            <img src="/media/RecycleGuide/Peanuts.png"></img>
        </div>
        <div class="card-content container p-3">
            <div class="row m-1 justify-content-start">
                <h3 class="heading-threeFive-dark">
                    Packaging Peanuts
                </h3>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp; Styrofoam | Compostable | Dry
                </p>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined block">
                        block
                    </span>
                    &nbsp; Wet | Hard
                </p>
            </div>
            <hr>
            <div class="row m-1 justify-content-end">
                <h4 class="heading-four-medium align-content-start">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    STYROCYCLE, KENT
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="d-flex align-content-start justify-content-center flex-nowrap discover-container">

    <div class=" recycle-card m-3">
        <div>
            <img src="/media/RecycleGuide/AirPillow.png"></img>
        </div>
        <div class="card-content container p-3">
            <div class="row m-1 justify-content-start">
                <h3 class="heading-threeFive-dark">
                    Packaging Pillows
                </h3>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp; Deflated | Clean
                </p>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined block">
                        block
                    </span>
                    &nbsp; Inflated | Dirty
                </p>
            </div>
            <hr>
            <div class="row m-1 justify-content-end">
                <h4 class="heading-four-medium align-content-start">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    STYROCYCLE, KENT
                </h4>
            </div>
        </div>
    </div>
    <div class=" recycle-card m-3">
        <div>
            <img src="/media/RecycleGuide/PlasticMailer.png"></img>
        </div>
        <div class="card-content container p-3">
            <div class="row m-1 justify-content-start">
                <h3 class="heading-threeFive-dark">
                    Plastic Mailer
                </h3>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp; Cut out the stickers do not peel 
                </p>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined block">
                        block
                    </span>
                    &nbsp; Paper Mailer | Paper Bubble Mailers 
                </p>
            </div>
            <hr>
            <div class="row m-1 justify-content-end">
                <h4 class="heading-four-medium align-content-start">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    STYROCYCLE, KENT
                </h4>
            </div>
        </div>
    </div>
    <div class=" recycle-card m-3">
        <div>
            <img src="/media/RecycleGuide/PlasticFilms.png"></img>
        </div>
        <div class="card-content container p-3">
            <div class="row m-1 justify-content-start">
                <h3 class="heading-threeFive-dark">
                    Plastic Bags
                </h3>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp; Produce Bags | Grocery Bags | Clean
                </p>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined block">
                        block
                    </span>
                    &nbsp; Foil Lined | Mesh Lined | Dirty | Wet
                </p>
            </div>
            <hr>
            <div class="row m-1 justify-content-end">
                <h4 class="heading-four-medium align-content-start">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    STYROCYCLE, KENT
                </h4>
            </div>
        </div>
    </div>
    <div class=" recycle-card m-3">
        <div>
            <img src="/media/RecycleGuide/EggCarton.png"></img>
        </div>
        <div class="card-content container p-3">
            <div class="row m-1 justify-content-start">
                <h3 class="heading-threeFive-dark">
                    Egg Carton
                </h3>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp; 1 Dozen Size | 1/2 Dozen Size | Thick 
                </p>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined block">
                        block
                    </span>
                    &nbsp; Other Sizes | Styrofoam | Plastic 
                </p>
            </div>
            <hr>
            <div class="row m-1 justify-content-end">
                <h4 class="heading-four-medium align-content-start">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    Food Bank 
                </h4>
            </div>
        </div>
    </div>
</div>


<div class="d-flex align-content-start justify-content-center flex-wrap discover-container">
    <div class=" recycle-card m-3">
        <div>
            <img src="/media/RecycleGuide/GroceryBag.png"></img>
        </div>
        <div class="card-content container p-3">
            <div class="row m-1 justify-content-start">
                <h3 class="heading-threeFive-dark">
                    Paper Grocery Bag 
                </h3>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp; With Handles | Standard Size 
                </p>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined block">
                        block
                    </span>
                    &nbsp; Smaller Sizes | Ripped
                </p>
            </div>
            <hr>
            <div class="row m-1 justify-content-end">
                <h4 class="heading-four-medium align-content-start">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    Food Bank 
                </h4>
            </div>
        </div>
    </div>
    <div class=" recycle-card m-3">
        <div>
            <img src="/media/RecycleGuide/Razor.png"></img>
        </div>
        <div class="card-content container p-3">
            <div class="row m-1 justify-content-start">
                <h3 class="heading-threeFive-dark">
                    Razors
                </h3>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp; Razor Heads|Cartridges|Blade Covers
                </p>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined block">
                        block
                    </span>
                    &nbsp; N/A
                </p>
            </div>
            <hr>
            <div class="row m-1 justify-content-end">
                <h4 class="heading-four-medium align-content-start">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    Terracycle
                </h4>
            </div>
        </div>
    </div>
    <div class=" recycle-card m-3">
        <div>
            <img src="/media/RecycleGuide/FluroscentLightBulbs.png"></img>
        </div>
        <div class="card-content container p-3">
            <div class="row m-1 justify-content-start">
                <h3 class="heading-threeFive-dark">
                    Fluroscent Light Bulbs
                </h3>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp; Compact | Tube-Type
                </p>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined block">
                        block
                    </span>
                    &nbsp; Broken 
                </p>
            </div>
            <hr>
            <div class="row m-1 justify-content-end">
                <h4 class="heading-four-medium align-content-start">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    Seattle Haz Mat
                </h4>
            </div>
        </div>
    </div>
    <div class=" recycle-card m-3">
        <div>
            <img src="/media/RecycleGuide/FreezerPack.png"></img>
        </div>
        <div class="card-content container p-3">
            <div class="row m-1 justify-content-start">
                <h3 class="heading-threeFive-dark">
                    Freezer Pack
                </h3>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp; Plastic Bag | Hard Plastic
                </p>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined block">
                        block
                    </span>
                    &nbsp; Leaking
                </p>
            </div>
            <hr>
            <div class="row m-1 justify-content-end">
                <h4 class="heading-four-medium align-content-start">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    Seattle Haz Mat 
                </h4>
            </div>
        </div>
    </div>
</div>


<div class="d-flex align-content-start justify-content-center flex-wrap discover-container">
    
    <div class=" recycle-card m-3">
        <div>
            <img src="/media/RecycleGuide/Batteries.png"></img>
        </div>
        <div class="card-content container p-3">
            <div class="row m-1 justify-content-start">
                <h3 class="heading-threeFive-dark">
                    Batteries
                </h3>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp; Alkaline | Rechargable | Disc Battery 
                </p>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp;Rechargeables from small appliances
                </p>
            </div>
            <hr>
            <div class="row m-1 justify-content-end">
                <h4 class="heading-four-medium align-content-start">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    Seattle Haz Mat
                </h4>
            </div>
        </div>
    </div>
    <div class=" recycle-card m-3">
        <div>
            <img src="/media/RecycleGuide/FireExtinguisher.png"></img>
        </div>
        <div class="card-content container p-3">
            <div class="row m-1 justify-content-start">
                <h3 class="heading-threeFive-dark">
                    Fire Extinguisher
                </h3>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp; N/A
                </p>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined block">
                        block
                    </span>
                    &nbsp; N/A
                </p>
            </div>
            <hr>
            <div class="row m-1 justify-content-end">
                <h4 class="heading-four-medium align-content-start">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    Seattle Haz Mat
                </h4>
            </div>
        </div>
    </div>
    <div class=" recycle-card m-3">
        <div>
            <img src="/media/RecycleGuide/ThreadCycle.png"></img>
        </div>
        <div class="card-content container p-3">
            <div class="row m-1 justify-content-start">
                <h3 class="heading-threeFive-dark">
                    Clothes, fabrics and shoes 
                </h3>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp; Torn | Stained 
                </p>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined block">
                        block
                    </span>
                    &nbsp; Wet | Moldy 
                </p>
            </div>
            <hr>
            <div class="row m-1 justify-content-end">
                <h4 class="heading-four-medium align-content-start">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    Seattle Transfer Station
                </h4>
            </div>
        </div>
    </div>
    <div class=" recycle-card m-3">
        <div>
            <img src="/media/RecycleGuide/Pillow.png"></img>
        </div>
        <div class="card-content container p-3">
            <div class="row m-1 justify-content-start">
                <h3 class="heading-threeFive-dark">
                    Linens and Pillows
                </h3>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp; Torn | Stained 
                </p>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined block">
                        block
                    </span>
                    &nbsp; Wet | Moldy | Carpet | Rugs
                </p>
            </div>
            <hr>
            <div class="row m-1 justify-content-end">
                <h4 class="heading-four-medium align-content-start">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    Seattle Transfer Station
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="d-flex align-content-start justify-content-center flex-nowrap discover-container">
    <div class=" recycle-card m-3">
        <div>
            <img src="/media/RecycleGuide/Cartridge.png"></img>
        </div>
        <div class="card-content container p-3">
            <div class="row m-1 justify-content-start">
                <h3 class="heading-threeFive-dark">
                    Printer Cartridges
                </h3>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp; Inkjet / Lazer | Bagged
                </p>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined block">
                        block
                    </span>
                    &nbsp; Unbagged 
                </p>
            </div>
            <hr>
            <div class="row m-1 justify-content-end">
                <h4 class="heading-four-medium align-content-start">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                   Office Depot
                </h4>
            </div>
        </div>
    </div>
    <div class=" recycle-card m-3">
        <div>
            <img src="/media/RecycleGuide/WineCorks.png"></img>
        </div>
        <div class="card-content container p-3">
            <div class="row m-1 justify-content-start">
                <h3 class="heading-threeFive-dark">
                    Wine Corks
                </h3>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp; Natural Wine Cork
                </p>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined block">
                        block
                    </span>
                    &nbsp; Synthetic or other material
                </p>
            </div>
            <hr>
            <div class="row m-1 justify-content-end">
                <h4 class="heading-four-medium align-content-start">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    PCC Community Markets
                </h4>
            </div>
        </div>
    </div>
    <div class=" recycle-card m-3">
        <div>
            <img src="/media/RecycleGuide/Electronics.png"></img>
        </div>
        <div class="card-content container p-3">
            <div class="row m-1 justify-content-start">
                <h3 class="heading-threeFive-dark">
                   Electronics
                </h3>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp; Cables | Keyboards | Monitors
                </p>
            </div>
            <hr>
            <div class="row m-1">
                <p class="paragraph-four align-content-start">
                    <span class="material-symbols-outlined done">
                        done
                    </span>
                    &nbsp;TV | Mice | Computers 
                </p>
            </div>
            <hr>
            <div class="row m-1 justify-content-end">
                <h4 class="heading-four-medium align-content-start">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    Best Buy
                </h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}