{% extends "mortalplanet/layout.html" %}
{% load static %}

{% block body %}


<ul class="nav sub-nav">
    <p>Filter by Category:</p> &nbsp;
    {% for category in categories %}
    <li>
        <a class="nav-link" href="{% url 'category' category.id%}">
            {{category}}
        </a>
    </li>
    {% endfor %}
    <li>
        <button id="open-toggle"> Open Posts Only</button>
    </li>
</ul>

<div id="all-posts-view" class="posts-view container">
    {% for post in posts %}
    <div class="card card-block">
        <small class="post-category heading-five">{{post.category}}</small>
        <a href="{% url 'post' post.id %}">
            <div class="row no-gutters">
                {% if post.image%}
                <div class="col-3">
                    <img src="{{post.image.url }}" class="card-img" alt="{{ post.title }}">
                </div>
                {% endif %}
                <div class="col-9">
                    <div class="card-body">
                        {% if not post.open %}
                        <div class="alert-danger">
                            <small>This post is no longer open.</small>
                        </div>
                        {% endif %}
                        <h5 class="card-title heading-two">
                            {{ post.title }}
                        </h5>
                        <p class="card-text card-text-description paragraph-three">{{ post.description }}</p>
                        <p class="card-text paragraph-five text-muted">Created {{ post.creation_time }}
                                {{post.location}}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% empty %}
    NO POSTS FOR THIS TOPIC
    {% endfor %}
</div>

<div id="open-posts-view" class="posts-view container">
    {% for post in posts %}
    {% if post.open %}
    <div class="card card-block">
        <small class="post-category heading-five">{{post.category}}</small>
        <a href="{% url 'post' post.id %}">
            <div class="row no-gutters">
                {% if post.image%}
                <div class="col-md-3">
                    <img src="{{post.image.url }}" class="card-img" alt="{{ post.title }}">
                </div>
                {% endif %}
                <div class="col-md-9">
                    <div class="card-body">
                        {% if not post.open %}
                        <div class="alert-danger">
                            <small>This post is no longer open.</small>
                        </div>
                        {% endif %}
                        <h5 class="card-title heading-two">
                            {{ post.title }}
                        </h5>
                        <p class="card-text card-text-description paragraph-three">{{ post.description }}</p>
                        <p class="card-text paragraph-five text-muted">Created {{ post.creation_time }}
                                {{post.location}}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endif %}
    {% empty %}
    NO POSTS FOR THIS TOPIC
    {% endfor %}
</div>
{% endblock %}