{% extends "mortalplanet/layout.html" %}
{% load static %}

{% block body %}
<div class="row profile-name">
    <div class="col">
        <h2 class="heading-three-medium">{{user.first_name}}'s profile</h2>
    </div>
</div>
<div class="row">
    <div class="col-1" id="profileNav">
        <ul class="nav profile-nav">
            <li class="nav-item">
                <a class="nav-link profile-nav-button active" href="{% url 'profile' user.id %}">
                    <span class="material-symbols-outlined">
                        location_away
                    </span>
                </a> &nbsp;
            </li>
            <li class="nav-item">
                <a class="nav-link profile-nav-button" id="my-posts">
                    <span class="material-symbols-outlined">
                        view_list
                    </span>
                </a> &nbsp;
            </li>
            <li class="nav-item">
                <a class="nav-link profile-nav-button" id="inbox">
                    <span class="material-symbols-outlined">
                        mail
                    </span>
                </a> &nbsp;
            </li>
            <li class="nav-item">
                <a class="nav-link profile-nav-button" id="sent">
                    <span class="material-symbols-outlined">
                        send
                    </span>
                </a> &nbsp;
            </li>
            <li class="nav-item">
                <a class="nav-link profile-nav-button" id="compose">
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </a> &nbsp;
            </li>
        </ul>
    </div>

    <div class="profile-content col-6">
        <div id="profile-home">
            <ul>
                <li class="heading-three-medium">
                    Name: <span class="paragraph-three"> {{user.first_name}} {{user.last_name}}&nbsp; &nbsp;|
                    </span>
                </li>
                <li class="heading-three-medium">
                    Username: <span class="paragraph-three">{{user.username}}&nbsp; &nbsp;|</span>
                </li class="heading-three-medium">

                <li class="heading-three-medium">
                    Email: <span class="paragraph-three"> {{user.email}}&nbsp; &nbsp;|</span>
                </li>
            </ul>
            <hr>
            <h1 class="quote">
                <span class="material-symbols-outlined">
                    &nbsp;&nbsp; format_quote
                </span>
                We cannot solve our problems with the same thinking we used when we created them.<small>- Albert
                    Einstein</small>
            </h1>
            <hr>
        </div>

        <div id="messages-view">
        </div>


        <div id="message-view">
            <div class="paragraph-fourpointfive-dark">
                <div class="mb-1">
                    <strong>From:</strong> <span id="message-from"></span>
                </div>
                <div class="mb-1">
                    <strong>To:</strong> <span id="message-to"></span>
                </div>
                <div class="mb-1">
                    <strong>Subject:</strong> <span id="message-subject"></span>
                </div>
                <div class="mb-1">
                    <strong>Timestamp:</strong> <span id="message-timestamp"></span>
                </div>
                <button id="reply" class="btn btn-sm btn-outline-primary">Reply</button>
                <hr>
                <div id="message-body">
                </div>
            </div>
        </div>

        <div id="compose-view">
            <h3>New Message</h3>
            <form id="compose-form" method="post" action="{% url 'compose' %}">
                <div class="form-group">
                    From: <input disabled class="form-control" value="{{ request.user }}">
                </div>
                <div class="form-group">
                    To: <input id="compose-recipients" class="form-control">
                </div>
                <div class="form-group">
                    <input class="form-control" id="compose-subject" placeholder="Subject">
                </div>
                <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                <input type="submit" class="btn btn-primary" />
            </form>
        </div>


        <div id="my-posts-view" class="posts-view container">
            <h3>My Posts</h3>
            {% for post in myposts %}
            <div class="card card-block">
                <small class="post-category heading-five">{{post.category}}</small>
                <a href="{% url 'post' post.id %}">
                    <div class="row no-gutters">
                        {% if post.image%}
                        <div class="col-3">
                            <img src="{{post.image.url }}" class="card-img" alt="{{ post.title }}">
                        </div>
                        {% endif %}
                        <div class="col-9">
                            <div class="card-body">
                                {% if not post.open %}
                                <div class="alert-danger">
                                    <small>This post is no longer open.</small>
                                </div>
                                {% endif %}
                                <h5 class="card-title heading-two">
                                    {{ post.title }}
                                </h5>
                                <p class="card-text card-text-description paragraph-three">{{ post.description }}</p>
                                <p class="card-text paragraph-five text-muted">Created {{ post.creation_time }}
                                    {{post.location}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}